<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Lists</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- App CSS -->
  <!-- <link rel="stylesheet" href="/styles/index.css" type="text/css" /> -->

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- APP JS -->
  <script type="text/javascript" src="scripts/client.js"></script>
</head>

<body>
  <!-- Main Content -->
  <main>

    <!-- Navigation Bar -->
    <%- include partials/header -%>


    <!-- Add To-Do box -->
    <section class="new-to-do">
      <form action="/todo" id="todo-search" method="POST">
        <textarea name="todo" id="to-do" class="text-area" placeholder="What would you like to do later?"></textarea>
        <div class="footer">
          <button type="submit">Add To-Do</button>
        </div>
      </form><br></br>

      <!-- Preview To-Do box -->
      <label class="preview">
        Select a match:
      </label>
      <article class="preview-box">
        <% if (results) {%>
          <% for (const result of results) { %>
            <% if (result.type === 'to_watch') { %>
              <article class="api-1">
                <form method="POST" action="/user-lists/<%= result.type %>/">
                  <input type="hidden" name="description" value="<%= result.description %>">
                  <input type="hidden" name="name" value="<%= result.name %>">
                  <button type="submit"><%= result.name %></button>
                </form>
              </article>
            <% } else if (result.type === 'to_read') { %>
              <article class="api-2">
                <form method="POST" action="/user-lists/<%= result.type %>/">
                  <input type="hidden" name="description" value="<%= result.description %>">
                  <input type="hidden" name="name" value="<%= result.name %>">
                  <button type="submit"><%= result.name %></button>
                </form>
              </article>
            <% } else if (result.type === 'to_eat') { %>
              <article class="api-3">
                <<form method="POST" action="/user-lists/<%= result.type %>/">
                  <input type="hidden" name="description" value="<%= result.description %>">
                  <input type="hidden" name="name" value="<%= result.name %>">
                  <button type="submit"><%= result.name %></button>
                </form>
              </article>
            <% } else if (result.type === 'to_buy') { %>
              <article class="api-4">
                <form method="POST" action="/user-lists/<%= result.type %>/">
                  <input type="hidden" name="description" value="<%= result.description %>">
                  <input type="hidden" name="name" value="<%= result.name %>">
                  <button type="submit"><%= result.name %></button>
                </form>
              </article>
            <% } %>
          <% } %>
        <% } %>
      </article>
    </section>

  </main>
</body>

</html>
