<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Lists</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/user-lists.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- App CSS -->
  <!-- <link rel="stylesheet" href="/styles/index.css" type="text/css" /> -->

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;1,300&family=Oswald:wght@400;500;700&display=swap" rel="stylesheet">

  <!-- APP JS -->
  <script type="text/javascript" src="scripts/client.js"></script>
</head>

<body>
  <!-- Main Content -->
  <main>

    <!-- Navigation Bar -->
    <%- include partials/header -%>

    <!-- Add To-Do Box -->
    <div class="search-bar">
      <form action="/todo" id="todo-search" method="POST">
        <textarea name="todo" id="to-do" class="text-area" placeholder="What would you like to do later?"></textarea>
        <button type="submit">Add To-Do</button>
      </form>
    </div>

    <!-- Search Results -->
    <% if (results) { %>
      <article class="preview-box">
        <table id="table-watch" class="results-tables">
          <thead>
            <tr><th>To Watch</th></tr>
          </thead>
          <tbody>
            <% for (const result of results) { %>
              <% if (result.type === 'to_watch') { %>
                <td class="watch-results">
                  <form method="POST" action="/user-lists">
                    <input type="hidden" name="description" value="<%= result.description %>">
                    <input type="hidden" name="name" value="<%= result.name %>">
                    <input type="hidden" name="type" value="<%= result.type %>">
                    <button type="submit"><%= result.name %></button>
                  </form>
                </td>
              <% } %>
            <% } %>
          </tbody>
        </table>
        <table id="table-read" class="results-tables">
          <thead>
            <tr><th>To Read</th></tr>
          </thead>
          <tbody>
            <% for (const result of results) { %>
              <% if (result.type === 'to_read') { %>
                <td class="read-results">
                  <form method="POST" action="/user-lists">
                    <input type="hidden" name="description" value="<%= result.description %>">
                    <input type="hidden" name="name" value="<%= result.name %>">
                    <input type="hidden" name="type" value="<%= result.type %>">
                    <button type="submit"><%= result.name %></button>
                  </form>
                </td>
              <% } %>
            <% } %>
          </tbody>
        </table>
        <table id="table-eat" class="results-tables">
          <thead>
            <tr><th>To Visit Nearby</th></tr>
          </thead>
          <tbody>
            <% for (const result of results) { %>
              <% if (result.type === 'to_eat') { %>
                <td class="eat-results">
                  <form method="POST" action="/user-lists">
                    <input type="hidden" name="description" value="<%= result.description %>">
                    <input type="hidden" name="name" value="<%= result.name %>">
                    <input type="hidden" name="type" value="<%= result.type %>">
                    <button type="submit"><%= result.name %></button>
                  </form>
                </td>
              <% } %>
            <% } %>
          </tbody>
        </table>
        <table id="table-buy" class="results-tables">
          <thead>
            <tr><th>To Buy</th></tr>
          </thead>
          <tbody>
            <% for (const result of results) { %>
              <% if (result.type === 'to_buy') { %>
                <td class="buy-results">
                  <form method="POST" action="/user-lists">
                    <input type="hidden" name="description" value="<%= result.description %>">
                    <input type="hidden" name="name" value="<%= result.name %>">
                    <input type="hidden" name="type" value="<%= result.type %>">
                    <button type="submit"><%= result.name %></button>
                  </form>
                </td>
              <% } %>
            <% } %>
          </tbody>
        </table>
        <table id="table-uncategorized" class="results-tables">
          <thead>
            <tr><th>Uncategorized</th></tr>
          </thead>
          <tbody>
            <% for (const result of results) { %>
              <% if (!result.type) { %>
                <td class="uncategorized-results">
                  <form method="POST" action="/user-lists">
                    <input type="hidden" name="description" value="<%= result.description %>">
                    <input type="hidden" name="name" value="<%= result.name %>">
                    <input type="hidden" name="type" value="<%= result.type %>">
                    <button type="submit"><%= result.name %></button>
                  </form>
                </td>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </article>
    <% } %>

    <!-- To-Do Lists -->
    <div class="lists">

      <div class="list to-watch">
        <h3 class="list-name">To Watch</h3>
        <table>
          <thead class="table head">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="table body">
            <% for (const toDo of toDos) { %>
              <% if (toDo.lists_id === 1) { %>
                <tr class="to-do-row">

                  <td><%= toDo.to_do_name %></td>
                  <td class="description"><%= toDo.to_do_description %></td>
                  <td>
                    <form method="POST" action="/todo/<%=toDo.id %>/delete">

                      <br></br>
                    </form>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>

      <div class="list to-read">
        <h3 class="list-name">To Read</h3>
        <table>
          <thead class="table head">
            <tr class="to-do-row">

              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="table body">
            <% for (const toDo of toDos) { %>
              <% if (toDo.lists_id === 2) { %>
                <tr>
                  <td><%= toDo.to_do_name %></td>
                  <td class="description"><%= toDo.to_do_description %></td>
                  <td>
                    <form method="POST" action="/todo/<%=toDo.id %>/delete">

                      <br></br>
                    </form>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>

      <div class="list to-eat">
        <h3 class="list-name">To Visit Nearby</h3>
        <table>
          <thead class="table head">
            <tr class="to-do-row">

              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="table body">
            <% for (const toDo of toDos) { %>
              <% if (toDo.lists_id === 3) { %>
                <tr class="to-do-row">

                  <td><%= toDo.to_do_name %></td>
                  <td class="description"><%= toDo.to_do_description %></td>
                  <td>
                    <form method="POST" action="/todo/<%=toDo.id %>/delete">
    <br></br>
                    </form>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>

      <div class="list to-buy">
        <h3 class="list-name">To Buy</h3>
        <table>
          <thead class="table head">
            <tr class="to-do-row">

              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="table body">
            <% for (const toDo of toDos) { %>
              <% if (toDo.lists_id === 4) { %>
                <tr>
                  <td><%= toDo.to_do_name %></td>
                  <td class="description"><%= toDo.to_do_description %></td>
                  <td>
                    <form method="POST" action="/todo/<%=toDo.id %>/delete">

                      <br></br>
                    </form>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>

      <div class="list uncategorized">
        <h3 class="list-name">Uncategorized</h3>
        <table>
          <thead class="table head">
            <tr class="to-do-row">

              <th scope="col">Name</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="table body">
            <% for (const toDo of toDos) { %>
              <% if (toDo.lists_id === 5) { %>
                <tr>
                  <td><%= toDo.to_do_name %></td>
                  <td class="description"><%= toDo.to_do_description %></td>
                  <td>
                    <form method="POST" action="/todo/<%=toDo.id %>/delete">

                      <br></br>
                    </form>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>

    </div>












      <!-- <article class="to-watch">
        <header>
          <div class="list-name">To Watch</div>
        </header>
        <p>
        <article class="list-entry">
          <div class="title"></div>
          <div class="director"></div>
          <div class="description"></div>
          <div class="notes"></div>
          <div class="footer">
            <button class="edit">Edit</button>&nbsp;
            <button class="delete">Delete</button>
          </div>
        </article>
        </p>
        <footer>
          <div class="date-updated"></div>
          <div class="action-icons"> &nbsp;&nbsp;
            <i class="fa fa-share"></i>
          </div>
        </footer>
      </article><br></br>

      <article class="to-read">
        <header>
          <div class="list-name">To Read</div>
        </header>
        <p>
        <article class="list-entry">
          <div class="title">Moby-Dick (1851)</div>
          <div class="author">Herman Melville</div>
          <div class="description"></div>
          <div class="notes">[notes]</div>
          <div class="footer">
            <button class="edit">Edit</button>&nbsp;
            <button class="delete">Delete</button>
          </div>
        </article>
        </p>
        <footer>
          <div class="date-updated">Updated: March 7, 2021</div>
          <div class="action-icons"> &nbsp;&nbsp;
            <i class="fa fa-share"></i>
          </div>
        </footer>
      </article><br></br>

      <article class="to-eat">
        <header>
          <div class="list-name">To Eat</div>
        </header>
        <p>
          <article class="list-entry">
            <div class="name"></div>
            <div class="address"></div>
            <div class="description"></div>
            <div class="notes"></div>
            <div class="footer">
              <button class="edit">Edit</button>&nbsp;
              <button class="delete">Delete</button>
            </div>
          </article>
        </p>
      </article><br></br>

      <article class="to-buy">
        <header>
          <div class="list-name">To Buy</div>
        </header>
        <p>
          <article class="list-entry">
            <div class="name"></div>
            <div class="available-at"></div>
            <div class="description"></div>
            <div class="notes"></div>
            <div class="footer">
              <button class="edit">Edit</button>&nbsp;
              <button class="delete">Delete</button>
            </div>
          </article>
        </p>
      </article><br></br>

      <article class="uncategorized">
        <header>
          <div class="list-name">(Uncategorized)</div>
        </header>
        <p>
        <div></div>
        </p>
      </article> -->

  </main>
</body>

</html>
